#!/bin/bash (only for syntax highlighting, should not be executable)
#
# per-website settings for website-copymod script
#
# module: -l-l-rdb-rdb

# website (files) settings
COPY_FILES=true
WEBSITE_ORIG_PATH="/var/www/revamp/joomla"
WEBSITE_COPY_PATH="/var/www/revamp/joomla_test"

# exisiting local path of override files
# files and directories in this path are
# copied to the website copy path,
# use this to overwrite config files etc.
OVERRIDE_FILES=false
OVERRIDE_PATH="/var/www/website1-testcopy-override"

# database
COPY_DB=true
DB_SERVER="flunder-mariadb"
# privileged db user to create db
# this is not the website db user (see below)
DB_PRIV_USER="caydin"

# database
DB_ORIG_NAME="joomla_revamp"
DB_COPY_NAME="joomla_revamp_test"
DB_COPY_USER="joomla_revamp_test_user"
DB_COPY_ACCESS_HOST="192.168.30.68"
DB_COPY_PASS="secret1.x"

# automatically edit the joomla configuration.php
AUTO_EDIT_JOOMLA_CONFIG=true

