#!/bin/bash (only for syntax highlighting)
#
# per-website settings for website-copymod script
#
# adapt according to module used
#

# website (files) settings
COPY_FILES=true
WEBSITE_LOCAL_USER=""
WEBSITE_LOCAL_GROUP=""
WEBSITE_REMOTE_SERVER=""
WEBSITE_ORIG_PATH="/var/www/example"
WEBSITE_COPY_PATH="/var/www/example-test"

# exisiting local path of override files
# files and directories in this path are
# copied to the website copy path,
# use this to overwrite config files etc.
OVERRIDE_FILES=false
OVERRIDE_PATH="/var/www/website1-testcopy-override"

# database
COPY_DB=true
DB_SERVER="db-server"       # remote or local (depending on use case)
DB_PRIV_USER="megaroot"     # privileged db user to create db
                            # this is not the website db user (see below)
DB_ORIG_NAME="joomla_example"
DB_COPY_NAME="joomla_example_test"
DB_COPY_USER="joomla_example_test_user"
DB_COPY_ACCESS_HOST="webserver"
DB_COPY_PASS="secret1.x"

# automatically edit the joomla configuration.php
AUTO_EDIT_JOOMLA_CONFIG=true
